header{
    background-color: #990eab;
    border-radius: 8px;
    padding: 10px;
}
body {
    font-family: cursive;
    background-color: #33137d;
    color: rgb(218, 255, 116)
}
footer{
    background-color: #990eab;
    border-radius: 8px;
    padding: 16px;
}
footer p{
    background-color: #a6ffb2;
    border-radius: 8px;
    padding: 9px;
    color: rgb(100, 62, 107)
}
main a {
    background-color: #6495ed;
    text-decoration: none;
    border-radius: 15px;
    padding: 4px;
    margin : 6px
}
header a {
    border:3px solid rgb(235, 198, 35);
    text-decoration: none;
    border-radius: 15px;
     color: rgb(235, 198, 35);
    padding: 4px
}
h1 {
    font-family: cursive;
    color: rgb(218, 255, 116);
    text-align: center;
